In [1]:
import pandas as pd

from serlo.mysql import db

df = pd.read_sql("""
SELECT id, content
FROM ad
LIMIT 10;
""", db)
df.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id                                            content
0   1  Weltgeschehen zwischen Krieg, Innovation, Wide...
1   2  Im Auslandsjournal gibt es Berichte, Geschicht...
2   3  "Kunst ist nicht ein Spiegel, den man der Wirk...
3   4  "Die politischen KrÃ¤fteverhÃ¤ltnisse in der g...
4   5  Das Wissensmagazin moderiert von Harald Lesch,...

In [2]:
test = pd.read_sql("""
SELECT *
FROM uuid
WHERE id = 181580;
""", db)
test.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       id  trashed discriminator
0  181580        0        entity

In [3]:
entity = pd.read_sql("""
SELECT *
FROM entity
WHERE id = 226222;
""", db)
entity.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,type_id,instance_id,license_id,date,current_revision_id
0,226222,3,1,1,2021-10-02 15:44:36,245912

In [5]:
revision = pd.read_sql("""
SELECT *
FROM entity_revision
WHERE id = 245912;
""", db)
revision.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       id  author_id  repository_id                date
0  245912      63374         226222 2022-05-16 21:20:33

In [6]:
field = pd.read_sql("""
SELECT value
FROM entity_revision_field
WHERE entity_revision_id = 245912;
""", db)
a = field["value"][0]
bytes(a, "latin1").decode("utf8")

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

'{"plugin":"article","state":{"introduction":{"plugin":"articleIntroduction","state":{"explanation":{"plugin":"text","state":[{"type":"p","children":[{"text":"In diesem Artikel werden Boxen und ihre Verwandten ausprobiert :)"}]}]},"multimedia":{"plugin":"image","state":{"src":"","caption":{"plugin":"text","state":[{"type":"p","children":[{}]}]}}},"illustrating":true,"width":50}},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Text Anfang"}]}]},{"plugin":"box","state":{"title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Das hier ist ein Merksatz. In der Plugin-Beschreibung steht auch \\"oder hebe wichtige Aussagen hervor\\", sodass dieser bisher wohl nicht besonders semantisch verwendet wurde."}]},{"type":"p","children":[{"text":""}]}]}]},"type":"blank","anchorId":"box80970"}},{"plugin":"text","state":[{"type":"p","children":[{"text":"Zwischentext zwischen den Elementen"}]}]},{"plugin":"box","state":{"title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Das hier ist ein Zitat. Angeblich ist es einfach eingerückt, oder passiert hier noch mehr?"}]},{"type":"p","children":[{"text":""}]}]}]},"type":"quote","anchorId":"box35521"}},{"plugin":"text","state":[{"type":"p","children":[{"text":"Noch ein schicker Zwischentext"}]}]},{"plugin":"spoiler","state":{"title":"Das ist der Spoiler-Titel","content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Das ist der Spoiler-Inhalt, hoffentlich."}]}]}]}}},{"plugin":"text","state":[{"type":"p","children":[{"text":"Und zum Abschluss kommt noch mal normaler Text"}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"Und hier ein Experiment mit Tastendrücken: "},{"type":"math","src":"\\\\fbox {~1~} ~\\\\fbox{Enter}~\\\\fbox{~2~} ~\\\\fbox{Enter}~\\\\fbox{~+~}","inline":true,"children":[{"text":"1 Enter"}]},{"text":""}]}]},{"plugin":"text","state":[{"type":"p","children":[{}]}]},{"plugin":"box","state":{"type":"note","title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"anchorId":"box32917","content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Das ist eine schicke neue Box."}]}]}]}}}]},"exercises":[],"exerciseFolder":{"id":"","title":""},"relatedContent":{"articles":[],"courses":[],"videos":[]},"sources":[]}}'

In [6]:
link = pd.read_sql("""
SELECT *
FROM entity_link
WHERE parent_id = 181580;
""", db)
link.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

      id  parent_id  child_id  type_id  order
0  26501     181580    223711        9      0

In [7]:
solution = pd.read_sql("""
SELECT *
FROM entity
WHERE id = 223711;
""", db)
solution.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,type_id,instance_id,license_id,date,current_revision_id
0,223711,2,1,1,2021-08-30 09:58:11,224461

In [31]:
solution = pd.read_sql("""
SELECT *
FROM entity
WHERE id = 226222;
""", db)
solution.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,type_id,instance_id,license_id,date,current_revision_id
0,226222,3,1,1,2021-10-02 15:44:36,245912

In [10]:
text = pd.read_sql("""
SELECT *
FROM entity_revision_field
WHERE entity_revision_id = 245912;
""", db)
text

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,field,entity_revision_id,value
0,384066,content,245912,"{""plugin"":""article"",""state"":{""introduction"":{""..."
1,384067,title,245912,Boxen und Co
2,384068,changes,245912,Neue Beachte-Box
3,384069,meta_title,245912,
4,384070,meta_description,245912,

In [8]:
text = pd.read_sql("""
SELECT *
FROM entity_revision_field
WHERE entity_revision_id = 226222;
""", db)
text

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Empty DataFrame
Columns: [id, field, entity_revision_id, value]
Index: []

In [11]:
value = text["value"][0]
bytes(value, "latin1").decode("utf8")

'{"plugin":"article","state":{"introduction":{"plugin":"articleIntroduction","state":{"explanation":{"plugin":"text","state":[{"type":"p","children":[{"text":"In diesem Artikel werden Boxen und ihre Verwandten ausprobiert :)"}]}]},"multimedia":{"plugin":"image","state":{"src":"","caption":{"plugin":"text","state":[{"type":"p","children":[{}]}]}}},"illustrating":true,"width":50}},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Text Anfang"}]}]},{"plugin":"box","state":{"title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Das hier ist ein Merksatz. In der Plugin-Beschreibung steht auch \\"oder hebe wichtige Aussagen hervor\\", sodass dieser bisher wohl nicht besonders semantisch verwendet wurde."}]},{"type":"p","children":[{"text":""}]}]}]},"type":"blank","anchorId":"box80970"}},{"plugin":"text","state":[{"type":"p","children":[{"text":"Zwischentext zwischen den Elementen"}]}]},{"plugin":"box","state":{"title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Das hier ist ein Zitat. Angeblich ist es einfach eingerückt, oder passiert hier noch mehr?"}]},{"type":"p","children":[{"text":""}]}]}]},"type":"quote","anchorId":"box35521"}},{"plugin":"text","state":[{"type":"p","children":[{"text":"Noch ein schicker Zwischentext"}]}]},{"plugin":"spoiler","state":{"title":"Das ist der Spoiler-Titel","content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Das ist der Spoiler-Inhalt, hoffentlich."}]}]}]}}},{"plugin":"text","state":[{"type":"p","children":[{"text":"Und zum Abschluss kommt noch mal normaler Text"}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"Und hier ein Experiment mit Tastendrücken: "},{"type":"math","src":"\\\\fbox {~1~} ~\\\\fbox{Enter}~\\\\fbox{~2~} ~\\\\fbox{Enter}~\\\\fbox{~+~}","inline":true,"children":[{"text":"1 Enter"}]},{"text":""}]}]},{"plugin":"text","state":[{"type":"p","children":[{}]}]},{"plugin":"box","state":{"type":"note","title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"anchorId":"box32917","content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Das ist eine schicke neue Box."}]}]}]}}}]},"exercises":[],"exerciseFolder":{"id":"","title":""},"relatedContent":{"articles":[],"courses":[],"videos":[]},"sources":[]}}'

In [27]:
df = pd.read_sql("""
SELECT entity.id, value
FROM entity_revision_field, entity
where field = "content"
    AND entity.current_revision_id = entity_revision_field.entity_revision_id
    AND value LIKE '%"plugin":"box","state":{"title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{}]}]}]}%'
LIMIT 10;
""", db)
df.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       id                                              value
0  148316  {"plugin":"rows","state":[{"plugin":"text","st...
1  149487  {"plugin":"exercise","state":{"content":{"plug...
2  223711  {"plugin":"solution","state":{"prerequisite":{...
3  240351  {"plugin":"article","state":{"introduction":{"...

In [28]:

a = df["value"] [1]
bytes(a, "latin1").decode("utf8")

'{"plugin":"exercise","state":{"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Eine coole Bspaufgabe"}]}]},{"plugin":"box","state":{"title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{}]}]}]},"type":"quote","anchorId":"box66070"}}]},"interactive":{"plugin":"scMcExercise","state":{"isSingleChoice":false,"answers":[{"content":{"plugin":"text","state":[{"type":"p","children":[{"text":"ollah"}]}]},"isCorrect":true,"feedback":{"plugin":"text","state":[{"type":"p","children":[{}]}]}},{"content":{"plugin":"text","state":[{"type":"p","children":[{"text":")b"}]}]},"isCorrect":false,"feedback":{"plugin":"text","state":[{"type":"p","children":[{}]}]}}]}}}}'

In [29]:
df = pd.read_sql("""
SELECT entity.id, value
FROM entity_revision_field, entity
where field = "content"
    AND entity.current_revision_id = entity_revision_field.entity_revision_id;
""", db)

df.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     id                                              value
0  1495  {"plugin":"article","state":{"introduction":{"...
1  1497  {"plugin":"article","state":{"introduction":{"...
2  1499  {"plugin":"article","state":{"introduction":{"...
3  1501  {"plugin":"article","state":{"introduction":{"...
4  1503  {"plugin":"article","state":{"introduction":{"...

In [15]:
#def getitems(obj):

def getkeys(obj, stack):
    for k, v in obj.items():
      k2 = ([k] if k else []) + stack # don't return empty keys
      if v and isinstance(v, dict):
        for c in getkeys(v, k2):
          yield c
      else: # leaf
        yield k2

def getvalues(obj):
    for v in obj.values():
      if not v: continue
      if isinstance(v, dict):
        for c in getvalues(v):
          yield c
      else: # leaf
        yield v if isinstance(v, list) else [v]

  #return list(getkeys(obj,[])), list(getvalues(obj))

In [16]:
import json
obj = json.loads(df["value"][0])

In [17]:
keys = list(getkeys(obj, []))
keys

[['plugin'],
 ['plugin', 'introduction', 'state'],
 ['plugin', 'explanation', 'state', 'introduction', 'state'],
 ['state', 'explanation', 'state', 'introduction', 'state'],
 ['plugin', 'multimedia', 'state', 'introduction', 'state'],
 ['src', 'state', 'multimedia', 'state', 'introduction', 'state'],
 ['plugin',
  'caption',
  'state',
  'multimedia',
  'state',
  'introduction',
  'state'],
 ['state', 'caption', 'state', 'multimedia', 'state', 'introduction', 'state'],
 ['illustrating', 'state', 'introduction', 'state'],
 ['width', 'state', 'introduction', 'state'],
 ['plugin', 'content', 'state'],
 ['state', 'content', 'state'],
 ['exercises', 'state'],
 ['id', 'exerciseFolder', 'state'],
 ['title', 'exerciseFolder', 'state'],
 ['articles', 'relatedContent', 'state'],
 ['courses', 'relatedContent', 'state'],
 ['videos', 'relatedContent', 'state'],
 ['sources', 'state']]

In [19]:
values = list(getvalues(obj))
values

[['article'],
 ['articleIntroduction'],
 ['text'],
 [{'type': 'p',
   'children': [{'text': 'Dieser Artikel befasst sich mit der Grundrechenart Addition.'}]}],
 ['image'],
 ['text'],
 [{'type': 'p', 'children': [{}]}],
 [True],
 [50],
 ['rows'],
 [{'plugin': 'text',
   'state': [{'type': 'p',
     'children': [{'text': 'Die '},
      {'text': 'Addition', 'strong': True},
      {'text': ', umgangssprachlich auch '},
      {'text': 'Plus-Rechnen', 'strong': True},
      {'text': ' genannt, ist eine der vier  '},
      {'type': 'a',
       'href': '/1871',
       'children': [{'text': 'Grundrechenarten'}]},
      {'text': '. Oft sagt man statt â\x80\x9eaddierenâ\x80\x9c auch '},
      {'text': 'â\x80\x9ezusammenzÃ¤hlenâ\x80\x9c', 'strong': True},
      {'text': '. '}]},
    {'type': 'p',
     'children': [{'text': 'Die Zahlen, die addiert werden, nennt man '},
      {'text': 'Summanden', 'strong': True},
      {'text': ', den Ausdruck\n'},
      {'text': '1. Summand + 2. Summand', 'strong': True},
      {'text': ' nennt man '},
      {'text': 'Summe', 'strong': True},
      {'text': ' und das Ergebnis der Rechnung '},
      {'text': 'Wert der Summe', 'strong': True},
      {'text': '.'}]}]},
  {'plugin': 'image',
   'state': {'src': 'https://assets.serlo.org/5b6018974f73c_a1bfde10aa23e0411af426a46be1c6c532ca9482.jpg',
    'alt': 'Bestandteile einer Summe, Summand',
    'caption': {'plugin': 'text',
     'state': [{'type': 'p', 'children': [{}]}]}}},
  {'plugin': 'text',
   'state': [{'type': 'h',
     'level': 2,
     'children': [{'text': 'Wie kann man sich das vorstellen?'}]}]},
  {'plugin': 'text',
   'state': [{'type': 'h',
     'level': 3,
     'children': [{'text': 'Mit GegenstÃ¤nden'}]}]},
  {'plugin': 'text',
   'state': [{'type': 'p',
     'children': [{'text': 'Wenn Peter zwei Murmeln hat und Kira drei, dann haben sie '},
      {'text': 'zusammen', 'strong': True},
      {'text': ' fÃ¼nf Murmeln.'}]}]},
  {'plugin': 'image',
   'state': {'src': 'https://assets.serlo.org/legacy/57221a8971dcd_a49de3af22922fc7a58ac3a494245a7a054f0c4c.png',
    'alt': 'ErklÃ¤rung einer Summe mithilfe von Murmeln',
    'caption': {'plugin': 'text',
     'state': [{'type': 'p', 'children': [{}]}]}}},
  {'plugin': 'text',
   'state': [{'type': 'h',
     'level': 3,
     'children': [{'text': 'Mit einer Zahlengeraden'}]}]},
  {'plugin': 'text',
   'state': [{'type': 'p',
     'children': [{'text': 'Mit der '},
      {'type': 'a', 'href': '/2067', 'children': [{'text': 'Zahlengerade'}]},
      {'text': ' kÃ¶nnen wir uns die Addition als SchrittezÃ¤hlen vorstellen.'}]},
    {'type': 'p',
     'children': [{'text': 'Um 2 + 3Â\xa0zu berechnen, markiert man zuerst die Zahl 2 auf der Zahlengerade und geht von dort aus drei â\x80\x9eSchritteâ\x80\x9c nach rechts. Die Zahl, auf der man landet, ist dann die Summe.'}]}]},
  {'plugin': 'image',
   'state': {'src': 'https://assets.serlo.org/5e5a5ed3ed8e2_9ac24a2177b0ff20cd1f7ce8661591bae0647b59.png',
    'alt': 'Addition auf der Zahlengerade',
    'caption': {'plugin': 'text',
     'state': [{'type': 'p', 'children': [{}]}]}}},
  {'plugin': 'text',
   'state': [{'type': 'p',
     'children': [{'text': 'Schritte zÃ¤hlen ist nicht besonders schwer. Es kann aber viel Zeit kosten, vor allem wenn man groÃ\x9fe Zahlen addiert. Um groÃ\x9fe Zahlen zu addieren, kann man die '},
      {'type': 'a',
       'href': '/2153',
       'children': [{'text': 'schriftliche Additon'}]},
      {'text': ' verwenden.'}]}]},
  {'plugin': 'text',
   'state': [{'type': 'h',
     'level': 2,
     'children': [{'text': 'Die besondere Zahl - Null'}]}]},
  {'plugin': 'text',
   'state': [{'type': 'p',
     'children': [{'text': 'Wenn die Zahl Null ein Summand einer Summe ist, trÃ¤gt sie zum Wert der Summe nichts bei, man kann sie '},
      {'text': 'beim Addieren', 'strong': True},
      {'text': ' also auch einfach weglassen. So gilt zum Beispielï»¿'}]},
    {'type': 'math',
     'src': '3+0=3, \\\\0+74=74',
     'inline': False,
     'children': [{'text': ''}]}]},
  {'plugin': 'text',
   'state': [{'type': 'p', 'children': [{'text': 'sowieï»¿'}]},
    {'type': 'math',
     'src': '5+0+7=5+7.',
     'inline': False,
     'children': [{'text': ''}]},
    {'type': 'p',
     'children': [{'text': 'Die Null ist die '},
      {'text': 'einzige Zahl', 'strong': True},
      {'text': ' mit dieser Eigenschaft.'}]}]}],
 [{'plugin': 'injection', 'state': '9741'},
  {'plugin': 'injection', 'state': '96143'},
  {'plugin': 'injection', 'state': '75523'}],
 [{'id': '2153', 'title': 'Schriftliche Addition'},
  {'id': '62546', 'title': 'Addition und Subtraktion ganzer Zahlen\n\n'}]]

In [20]:

bytes(df["value"][0], "latin1").decode("utf8")

'{"plugin":"article","state":{"introduction":{"plugin":"articleIntroduction","state":{"explanation":{"plugin":"text","state":[{"type":"p","children":[{"text":"Dieser Artikel befasst sich mit der Grundrechenart Addition."}]}]},"multimedia":{"plugin":"image","state":{"src":"","caption":{"plugin":"text","state":[{"type":"p","children":[{}]}]}}},"illustrating":true,"width":50}},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Die "},{"text":"Addition","strong":true},{"text":", umgangssprachlich auch "},{"text":"Plus-Rechnen","strong":true},{"text":" genannt, ist eine der vier  "},{"type":"a","href":"/1871","children":[{"text":"Grundrechenarten"}]},{"text":". Oft sagt man statt „addieren“ auch "},{"text":"„zusammenzählen“","strong":true},{"text":". "}]},{"type":"p","children":[{"text":"Die Zahlen, die addiert werden, nennt man "},{"text":"Summanden","strong":true},{"text":", den Ausdruck\\n"},{"text":"1. Summand + 2. Summand","strong":true},{"text":" nennt man "},{"text":"Summe","strong":true},{"text":" und das Ergebnis der Rechnung "},{"text":"Wert der Summe","strong":true},{"text":"."}]}]},{"plugin":"image","state":{"src":"https://assets.serlo.org/5b6018974f73c_a1bfde10aa23e0411af426a46be1c6c532ca9482.jpg","alt":"Bestandteile einer Summe, Summand","caption":{"plugin":"text","state":[{"type":"p","children":[{}]}]}}},{"plugin":"text","state":[{"type":"h","level":2,"children":[{"text":"Wie kann man sich das vorstellen?"}]}]},{"plugin":"text","state":[{"type":"h","level":3,"children":[{"text":"Mit Gegenständen"}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"Wenn Peter zwei Murmeln hat und Kira drei, dann haben sie "},{"text":"zusammen","strong":true},{"text":" fünf Murmeln."}]}]},{"plugin":"image","state":{"src":"https://assets.serlo.org/legacy/57221a8971dcd_a49de3af22922fc7a58ac3a494245a7a054f0c4c.png","alt":"Erklärung einer Summe mithilfe von Murmeln","caption":{"plugin":"text","state":[{"type":"p","children":[{}]}]}}},{"plugin":"text","state":[{"type":"h","level":3,"children":[{"text":"Mit einer Zahlengeraden"}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"Mit der "},{"type":"a","href":"/2067","children":[{"text":"Zahlengerade"}]},{"text":" können wir uns die Addition als Schrittezählen vorstellen."}]},{"type":"p","children":[{"text":"Um 2 + 3\xa0zu berechnen, markiert man zuerst die Zahl 2 auf der Zahlengerade und geht von dort aus drei „Schritte“ nach rechts. Die Zahl, auf der man landet, ist dann die Summe."}]}]},{"plugin":"image","state":{"src":"https://assets.serlo.org/5e5a5ed3ed8e2_9ac24a2177b0ff20cd1f7ce8661591bae0647b59.png","alt":"Addition auf der Zahlengerade","caption":{"plugin":"text","state":[{"type":"p","children":[{}]}]}}},{"plugin":"text","state":[{"type":"p","children":[{"text":"Schritte zählen ist nicht besonders schwer. Es kann aber viel Zeit kosten, vor allem wenn man große Zahlen addiert. Um große Zahlen zu addieren, kann man die "},{"type":"a","href":"/2153","children":[{"text":"schriftliche Additon"}]},{"text":" verwenden."}]}]},{"plugin":"text","state":[{"type":"h","level":2,"children":[{"text":"Die besondere Zahl - Null"}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"Wenn die Zahl Null ein Summand einer Summe ist, trägt sie zum Wert der Summe nichts bei, man kann sie "},{"text":"beim Addieren","strong":true},{"text":" also auch einfach weglassen. So gilt zum Beispiel\ufeff"}]},{"type":"math","src":"3+0=3, \\\\\\\\0+74=74","inline":false,"children":[{"text":""}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"sowie\ufeff"}]},{"type":"math","src":"5+0+7=5+7.","inline":false,"children":[{"text":""}]},{"type":"p","children":[{"text":"Die Null ist die "},{"text":"einzige Zahl","strong":true},{"text":" mit dieser Eigenschaft."}]}]}]},"exercises":[{"plugin":"injection","state":"9741"},{"plugin":"injection","state":"96143"},{"plugin":"injection","state":"75523"}],"exerciseFolder":{"id":"","title":""},"relatedContent":{"articles":[{"id":"2153","title":"Schriftliche Addition"},{"id":"62546","title":"Addition und Subtraktion ganzer Zahlen\\n\\n"}],"courses":[],"videos":[]},"sources":[]}}'

In [21]:
values = list(getvalues(obj))
boxes = []
for i in range(len(keys)):
    for j in range(len(keys[i])):
        if keys[i][j] == "plugin":
            if values[i][j] == "box":
                boxes.append((i,j))
                
boxes

[]

In [22]:
obj = json.loads(df["value"][0])["state"][3]
obj

KeyError: 3