In [3]:
import pandas as pd

from serlo.mysql import db




















df = pd.read_sql("""
SELECT id, content
FROM ad
LIMIT 10;
""", db)
df.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id                                            content
0   1  Weltgeschehen zwischen Krieg, Innovation, Wide...
1   2  Im Auslandsjournal gibt es Berichte, Geschicht...
2   3  "Kunst ist nicht ein Spiegel, den man der Wirk...
3   4  "Die politischen KrÃ¤fteverhÃ¤ltnisse in der g...
4   5  Das Wissensmagazin moderiert von Harald Lesch,...

In [3]:
test = pd.read_sql("""
SELECT *
FROM uuid
WHERE id = 181580;
""", db)
test.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       id  trashed discriminator
0  181580        0        entity

In [4]:
entity = pd.read_sql("""
SELECT *
FROM entity
WHERE id = 181580;
""", db)
entity.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,type_id,instance_id,license_id,date,current_revision_id
0,181580,1,1,1,2020-10-22 08:42:06,181778

In [5]:
revision = pd.read_sql("""
SELECT *
FROM entity_revision
WHERE id = 181778;
""", db)
revision.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       id  author_id  repository_id                date
0  181778      87602         181580 2020-10-23 13:07:52

In [47]:
field = pd.read_sql("""
SELECT value
FROM entity_revision_field
WHERE entity_revision_id = 181778;
""", db)
a = field["value"][0]
bytes(a, "latin1").decode("utf8")

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

'{"plugin":"exercise","state":{"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"2.0","strong":true},{"text":" Der  Punkt "},{"type":"math","src":"\\\\textrm{C}(2|-1)","inline":true,"children":[{"text":"\uf028\uf029C2 1\uf02d"}]},{"text":" ist gemeinsamer Eckpunkt von Rauten "},{"type":"math","src":"A_nB_nCD_n","inline":true,"children":[{"text":"nn  nABCD"}]},{"text":" mit den Diagonalenschnittpunkten "},{"type":"math","src":"M_n","inline":true,"children":[{"text":"nM"}]},{"text":". Die Punkte "},{"type":"math","src":"\\\\textrm{A}_n(\\\\textrm{x}|0,25\\\\textrm{x}+2)","inline":true,"children":[{"text":"\uf028\uf029nA x 0,25x 2\uf02b"}]},{"text":" liegen auf der Geraden "},{"type":"math","src":"g","inline":true,"children":[{"text":"g"}]},{"text":" mit  der  Gleichung "},{"type":"math","src":"\\\\textrm{y}=0,25\\\\textrm{x}+2","inline":true,"children":[{"text":"\uf028\uf029y  0,25x 2 G"}]},{"text":"  "},{"type":"math","src":"(\\\\mathbb{G}=\\\\mathbb{R}\\\\times\\\\mathbb{R})","inline":true,"children":[{"text":"IR IR\uf03d\uf02b\uf03d\uf0b4I"}]},{"text":".  Die  Diagonalen "},{"type":"math","src":"[A_nC]","inline":true,"children":[{"text":"\uf05b\uf05dnAC"}]},{"text":" der Rauten sind doppelt so lang wie die Diagonalen "},{"type":"math","src":"[B_nD_n]","inline":true,"children":[{"text":"\uf05b\uf05dnnBD"}]},{"text":". Runden Sie im Folgenden auf zwei Stellen nach dem Komma."}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"2.1","strong":true},{"text":" Zeichnen Sie die Gerade "},{"type":"math","src":"g","inline":true,"children":[{"text":"g"}]},{"text":" und die Rauten "},{"type":"math","src":"A_1B_1CD_1","inline":true,"children":[{"text":"11  1ABCD für x8\uf03d\uf02d und 22  2ABCD für x4\uf03d"}]},{"text":" für "},{"type":"math","src":"\\\\textrm{x}=-8","inline":true,"children":[{"text":"x=-8"}]},{"text":" und  "},{"type":"math","src":"A_2B_2CD_2","inline":true,"children":[{"text":"ABCD"}]},{"text":" für "},{"type":"math","src":"\\\\textrm{x}=4 ","inline":true,"children":[{"text":"x=4"}]},{"text":" in ein Koordinatensystem. Für die Zeichnung: "}]},{"type":"p","children":[{"text":"Längeneinheit "},{"type":"math","src":"1 \\\\textrm{cm}; -9\\\\leqq x \\\\leqq5;-3\\\\leqq y\\\\leqq4","inline":true,"children":[{"text":"1 cm; <<9x5\uf02d; <<3y"}]},{"text":""}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"2.2","strong":true},{"text":" Begründen Sie, weshalb die Winkel "},{"type":"math","src":"B_nA_nC","inline":true,"children":[{"text":"nnBAC"}]},{"text":" stets das gleiche Maß besitzen."}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"2.3","strong":true},{"text":" Für die Rauten "},{"type":"math","src":"A_3B_3CD_3","inline":true,"children":[{"text":"33  3ABCD"}]},{"text":" und   "},{"type":"math","src":" A_4B_4CD_4","inline":true,"children":[{"text":"4ABCD"}]},{"text":" gilt: "},{"type":"math","src":"\\\\overline{A_3C}=\\\\overline{A_4C}=7\\\\,LE","inline":true,"children":[{"text":"34AC AC 7LE\uf03d\uf03d"}]},{"text":". Berechnen Sie die zugehörigen Belegungen von "},{"type":"math","src":"\\\\textrm{x}","inline":true,"children":[{"text":"x"}]},{"text":"."}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"2.4","strong":true},{"text":" Zeigen Sie, dass für die Koordinaten der Punkte "},{"type":"math","src":"M_n","inline":true,"children":[{"text":"nM"}]},{"text":" und "},{"type":"math","src":"D_n","inline":true,"children":[{"text":"nD"}]},{"text":" in Abhängigkeit von der Abszisse "},{"type":"math","src":"\\\\textrm{x}","inline":true,"children":[{"text":"x"}]},{"text":" der Punkte "},{"type":"math","src":"A_n","inline":true,"children":[{"text":"nA"}]},{"text":" gilt:  "},{"type":"math","src":"M_n(0,5\\\\textrm{x}+1|0,13\\\\textrm{x}+0,5)","inline":true,"children":[{"text":"\uf028\uf029nM0,5x10,13x0,5\uf02b\uf02b"}]},{"text":" und "},{"type":"math","src":"D_n(0,57\\\\textrm{x}+1,75|-0,12\\\\textrm{x}+1)","inline":true,"children":[{"text":"\uf028\uf029nD 0,57x 1,75  0,12x 1\uf02b\uf02d"}]},{"text":"."}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"2.5","strong":true},{"text":" Bestimmen Sie rechnerisch die Gleichung des Trägergraphen "},{"type":"math","src":"t ","inline":true,"children":[{"text":"t"}]},{"text":" der Punkte "},{"type":"math","src":"D_n","inline":true,"children":[{"text":"nD"}]},{"text":"."}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"2.6","strong":true},{"text":" Bei der Raute "},{"type":"math","src":"A_5B_5CD_5","inline":true,"children":[{"text":"55  5ABCD"}]},{"text":" liegt der Punkt "},{"type":"math","src":"D_5","inline":true,"children":[{"text":"5D"}]},{"text":" ebenfalls auf der Geraden "},{"type":"math","src":"g","inline":true,"children":[{"text":"g"}]},{"text":". Berechnen Sie die Koordinaten des Punktes "},{"type":"math","src":"A_5","inline":true,"children":[{"text":"5A"}]},{"text":". "}]}]}]}}}'

In [29]:
link = pd.read_sql("""
SELECT *
FROM entity_link
WHERE parent_id = 181580;
""", db)
link.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

      id  parent_id  child_id  type_id  order
0  26501     181580    223711        9      0

In [30]:
solution = pd.read_sql("""
SELECT *
FROM entity
WHERE id = 223711;
""", db)
solution.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,type_id,instance_id,license_id,date,current_revision_id
0,223711,2,1,1,2021-08-30 09:58:11,224461

In [30]:
solution = pd.read_sql("""
SELECT *
FROM entity
WHERE id = 1567;
""", db)
solution.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,type_id,instance_id,license_id,date,current_revision_id
0,1567,3,1,1,2014-03-01 20:38:25,1568

In [31]:
text = pd.read_sql("""
SELECT *
FROM entity_revision_field
WHERE entity_revision_id = 1568;
""", db)
text

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,field,entity_revision_id,value
0,73,title,1568,Geschwindigkeit
1,74,content,1568,"[[{""col"":24,""content"":""Die Geschwindigkeit ist..."

In [35]:
text = pd.read_sql("""
SELECT *
FROM entity_revision_field
WHERE entity_revision_id = 224461;
""", db)
text

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,field,entity_revision_id,value
0,349025,content,224461,"{""plugin"":""solution"",""state"":{""prerequisite"":{..."
1,349026,changes,224461,Teilaufgabe 2.5 und 2.6

In [33]:
value = text["value"][1]
bytes(value, "latin1").decode("utf8")

'[[{"col":24,"content":"Die Geschwindigkeit ist ein Ma\\u00df daf\\u00fcr, wie schnell sich ein K\\u00f6rper bewegt.\\n\\n\\u00a0\\n\\n\\n# Bekannte Ma\\u00dfeinheiten\\n\\n"}],[{"col":8,"content":"%%\\\\frac ms%%"},{"col":8,"content":"\\n\\n [Meter](/1681)  pro Sekunde"},{"col":8,"content":"\\n\\n%%1\\\\frac ms=1\\\\cdot3,6\\\\frac{\\\\mathrm{km}}h=3,6\\\\;\\\\frac{\\\\mathrm{km}}h%%"}],[{"col":8,"content":"\\n\\n%%\\\\frac{\\\\mathrm{km}}h%%"},{"col":8,"content":"\\n\\n [Kilometer](/1681)  pro Stunde"},{"col":8,"content":"\\n\\n\\u00a0"}],[{"col":8,"content":"\\n\\nmph"},{"col":8,"content":"\\n\\n [Meilen](/1681)  pro Stunde"},{"col":8,"content":"\\n\\n%%1\\\\frac{\\\\mathrm{km}}h=0,62\\\\;\\\\mathrm{mph}%%"}],[{"col":8,"content":"\\n\\nkn \\/ %%\\\\frac{\\\\mathrm{sm}}h%%"},{"col":8,"content":"\\n\\nKnoten \\/  [Seemeilen](/1681)  pro Stunde"},{"col":8,"content":"\\n\\n%%1\\\\mathrm{kn}=1\\\\frac{\\\\mathrm{sm}}h=1,852\\\\frac{\\\\mathrm{km}}h%%"}],[{"col":24,"content":""}]]'

In [18]:
df = pd.read_sql("""
SELECT entity.id, value
FROM entity_revision_field, entity
where field = "content"
    AND entity.current_revision_id = entity_revision_field.entity_revision_id
    AND value LIKE '%"plugin":"box","state":{"title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{}]}]}]}%'
LIMIT 10;
""", db)
df.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       id                                              value
0  148316  {"plugin":"rows","state":[{"plugin":"text","st...
1  149487  {"plugin":"exercise","state":{"content":{"plug...
2  223711  {"plugin":"solution","state":{"prerequisite":{...
3  240351  {"plugin":"article","state":{"introduction":{"...

In [53]:

a = df["value"] [1]
bytes(a, "latin1").decode("utf8")

'{"plugin":"exercise","state":{"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"Eine coole Bspaufgabe"}]}]},{"plugin":"box","state":{"title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{}]}]}]},"type":"quote","anchorId":"box66070"}}]},"interactive":{"plugin":"scMcExercise","state":{"isSingleChoice":false,"answers":[{"content":{"plugin":"text","state":[{"type":"p","children":[{"text":"ollah"}]}]},"isCorrect":true,"feedback":{"plugin":"text","state":[{"type":"p","children":[{}]}]}},{"content":{"plugin":"text","state":[{"type":"p","children":[{"text":")b"}]}]},"isCorrect":false,"feedback":{"plugin":"text","state":[{"type":"p","children":[{}]}]}}]}}}}'

In [4]:
df = pd.read_sql("""
SELECT entity.id, value
FROM entity_revision_field, entity
where field = "content"
    AND entity.current_revision_id = entity_revision_field.entity_revision_id;
""", db)

df.head()

/home/moe/.asdf/installs/python/3.10.1/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     id                                              value
0  1495  {"plugin":"article","state":{"introduction":{"...
1  1497  {"plugin":"article","state":{"introduction":{"...
2  1499  {"plugin":"article","state":{"introduction":{"...
3  1501  {"plugin":"article","state":{"introduction":{"...
4  1503  {"plugin":"article","state":{"introduction":{"...

In [11]:
#def getitems(obj):

def getkeys(obj, stack):
    for k, v in obj.items():
      k2 = ([k] if k else []) + stack # don't return empty keys
      if v and isinstance(v, dict):
        for c in getkeys(v, k2):
          yield c
      else: # leaf
        yield k2

def getvalues(obj):
    for v in obj.values():
      if not v: continue
      if isinstance(v, dict):
        for c in getvalues(v):
          yield c
      else: # leaf
        yield v if isinstance(v, list) else [v]

  #return list(getkeys(obj,[])), list(getvalues(obj))

In [19]:
import json
obj = json.loads(df["value"][0])

[['plugin'], ['state']]

In [27]:
keys = list(getkeys(obj, []))
keys

[['plugin'],
 ['plugin', 'title', 'state'],
 ['state', 'title', 'state'],
 ['plugin', 'content', 'state'],
 ['state', 'content', 'state'],
 ['type', 'state'],
 ['anchorId', 'state']]

In [28]:

bytes(df["value"][0], "latin1").decode("utf8")

'{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{"text":"t.b.a"}]}]},{"plugin":"text","state":[{"type":"p","children":[{"text":"asdf"}]}]},{"plugin":"spoiler","state":{"title":"","content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{}]}]}]}}},{"plugin":"box","state":{"title":{"plugin":"text","state":[{"type":"p","children":[{}]}]},"content":{"plugin":"rows","state":[{"plugin":"text","state":[{"type":"p","children":[{}]}]}]},"type":"blank","anchorId":"box31707"}}]}'

In [29]:
values = list(getvalues(obj))
boxes = []
for i in range(len(keys)):
    for j in range(len(keys[i])):
        if keys[i][j] == "plugin":
            if values[i][j] == "box":
                boxes.append((i,j))
                
boxes

[(0, 0)]

In [26]:
obj = json.loads(df["value"][0])["state"][3]
obj

{'plugin': 'box',
 'state': {'title': {'plugin': 'text',
   'state': [{'type': 'p', 'children': [{}]}]},
  'content': {'plugin': 'rows',
   'state': [{'plugin': 'text', 'state': [{'type': 'p', 'children': [{}]}]}]},
  'type': 'blank',
  'anchorId': 'box31707'}}